.clearfix {
    width: 80%;
    padding-left: 10px;
    height: auto;
    margin-bottom: -24px;
}

.pages {
    margin-top: 30px;
    text-align: center;
}

.label {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.blockquote-footer {
    flex-direction: row;
}

.modal-footer {
    flex-direction: row;
    justify-content: space-evenly;
}

.status {
    /*align-items: flex-start;*/
    width: 16px;
    /*top: 10px;*/
    align-content: flex-start;
    margin-left: -18px;
    margin-bottom: -15px;
}

.wrapper {
    background-color: #f5f8fa;
    color: blue;
    font-weight: 400;
    /*margin-left: 20px;*/
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100px;
}


/*navigationpanel*/
.notifications {
    display: flex;
    align-items: flex-end;
    margin-left: 310px;
    justify-content: space-around;
}


.nav-wrapper{
    color: black;
    font-size: 14px;
    text-decoration: none;
    /*margin-left: 10px;*/
    padding: 15px;
}